{% extends 'base.html.twig' %}

{% block title %}Absence index{% endblock %}

{% block body %}
    <h1>Absence index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Dateleave</th>
                <th>Work</th>
                <th>Created</th>
                <th>Updated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for absence in absences %}
            <tr>
                <td>{{ absence.id }}</td>
                <td>{{ absence.type }}</td>
                <td>{{ absence.dateleave ? absence.dateleave|date('Y-m-d') : '' }}</td>
                <td>{{ absence.work }}</td>
                <td>{{ absence.created ? absence.created|date('Y-m-d') : '' }}</td>
                <td>{{ absence.updated ? absence.updated|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('absence_show', {'id': absence.id}) }}">show</a>
                    <a href="{{ path('absence_edit', {'id': absence.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('absence_new') }}">Create new</a>
{% endblock %}
